<!-- views/partials/footer.ejs used template from https://scotch.io/tutorials/use-ejs-to-template-your-node-application-->

<p class="text-center text-muted">© Copyright 2016 - EC544 Group 8 - Andrew Dellolis, Connor McCann, Eric Mooney, Luke Osborne</p>