<!-- views/historical.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <h1>Average Temperature</h1>
                    <p id="average"></p>
                </div>
            </div>
        </div>

		<div class="row" style="height:20vh;">
			<div id="scroller"></div>
		</div>

		<div class="row" style="height:20vh;">
            <div id="history"></div>
		</div>
		<div class="row" style="height:30vh;">
			
				<div id="sensor1"></div>
				<div id="sensor2"></div>
				<div id="sensor3"></div>
				<div id="sensor4"></div>

		</div>

    </main>

    <footer>
        <% include partials/footer %>
    </footer>
    
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/canvasjs.min.js"></script>
<script type="text/javascript" src="/javascripts/chart.js"></script>
</html>

