body,
html {
	width: 100%;
	height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6, {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}

body {
	height:auto;
	padding: 50px;
}

a {
  color: #00B7FF;
}

#header {
	height: auto;
	width: 100%;
	text-align: center;
	margin:auto;
}

.row_chart{
	height: 400px;
}

#sensor1,
#sensor2,
#sensor3,
#sensor4,
#sensor5{
	height: 100%;
	width: 100%;
	float: left;
}

iframe{
	margin: 0 auto;
}

